extends layout

block content
  h1= title
  if user 
    p hey Anon
    p You are currently logged-in as #{user.username}
    p #[a(href="/logout") Click here to Logout]
    if(user.isMember)
      p You are a member of this club
      p You can view message authors and message creation info.
    else 
      p Benefits of being a user is limited.
      p As a user you can only send messages.
      p Become a member to view message authors and message creation info.
      p #[a(href="/member_signup") Sign up as a member]
    
  else 
    p #[strong You must be logged in to send messages]
    p To sign-up visit:- #[a(href="/signup") Sign up ]
    p To login visit:- #[a(href="/login") Log In] 

  if user   
    form(action="", method="post") 
      label(for="content") Send Message: 
      textarea#content.form-control(type="textarea",name="content", cols="30", rows="1",placeholder="Enter your message here", required="true", maxLength="1800", minLength="1")     
      button(type="submit") Send

  hr
  if errors 
    ul 
      each error in errors 
        li  #{error.msg}
  hr

  each message in messages
    if user && user.isModerator 
      p Message: #{message.content} by #[strong #{message.anon_user.username}] at #{message.createdAt_formatted}
      form(action="/deleteMessage", method="post")
            .form-group 
                input#messageid.form-control(type="hidden" value=message._id required="true" name="messageid") 
            button.btn.btn-primary(type="submit") Delete  
    else if user && user.isMember
      p Message: #{message.content} by #[strong #{message.anon_user.username}] at #{message.createdAt_formatted}
    else 
      p Message: #{message.content}
