extends layout

block content
  h1= title
  if user 
    p hey Anon
    p You are currently logged-in as #{user.username}
    p #[a(href="/logout") Click here to Logout]
  else 
    p #[strong You must be logged in to view message authors]
    p To sign-up visit:- #[a(href="/signup") Sign up ]
    p To login visit:- #[a(href="/login") Log In] 
    
  form(action="", method="post") 
    label(for="content") Send Message: 
    textarea#content.form-control(type="textarea",name="content", cols="30", rows="1",placeholder="Enter your message here", required="true", maxLength="1800", minLength="1")     
    button(type="submit") Send

  hr
  if errors 
    ul 
      each error in errors 
        li  #{error.msg}
  hr

  each message in messages
    if user
      p Message: #{message.content} by #[strong #{message.anon_user.username}] at #{message.createdAt_formatted}
    else 
      p Message: #{message.content}
